
{% extends 'base.html' %}
{% include 'js.html' %}
<script>
    {% block jquery %}
        var endpoint = 'data_list';
        var timestamp = [];
        var weight = [];

        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
                weight = data.weight;
                timestamp = data.timestamp;
                weight = weight.map(Number);
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: timestamp,
                        datasets: [{
                            label: 'weight',
                            data: weight,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    },
                    error: function (error_data) {
                        console.log("error");
                        console.log(error_data);
                    }
                });
            }
        });

    {% endblock %}
</script>
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Data analysis Chart</h1>
            <canvas id="myChart" width="200" height="200"></canvas>

        </div>

    </div>

{% endblock %}